/**
* @name test
* @version 0
* @author Dezers
* @authorId 429587470808645644
* @description Тестовая тема
* @website https://github.com/D3Z3RS
* @updateUrl https://github.com/D3Z3RS/discord-theme/blob/main/test.theme.css
* @source https://github.com/D3Z3RS/discord-theme
*/

html {
    cursor: url(https://i.ibb.co/YtHb9Ns/penis.png), default;
}

html, h2, p, h1, div, a, input:hover {
    cursor: url(https://i.ibb.co/YtHb9Ns/penis.png), pointer;
}

.item-PXvHYJ, .themed-OHr7kt {
    color: black;
    background-color: rgb(139, 66, 66);
}
.sidebarRegionScroller-3MXcoP {
    background-color: rgb(105, 61, 61);
}
.contentColumn-2hrIYH {
    background-color: rgb(105, 61, 61);
}
.contentRegionScroller-26nc1e {
    background-color: rgb(105, 61, 61);
}
.scroller-1Bvpku {
    background-color: rgb(105, 61, 61);
}
.scroller-RmtA4e {
    background-color: rgb(68, 48, 48);
}
.container-3baos1 {
    background-color: rgb(105, 61, 61);
}
.scrollerInner-2YIMLh {
    background-color: rgb(105, 61, 61);
}
.scroller-1JbKMe {
    background-color: rgb(68, 48, 48);
}
.peopleList-3c4jOR {
    background-color: rgb(68, 48, 48);
}
.container-1r6BKw.themed-ANHk51 {
    background-color: rgb(105, 61, 61);
}
.searchBar-6Kv8R2 {
    background-color: rgb(105, 61, 61);
}
.form-2fGMdU {
    background-color: rgb(105, 61, 61);
}

.container-lRFx4q {
    background-color: rgb(105, 61, 61);
}

.accountProfileCard-1XCH88 {
    background-color: rgb(139, 66, 66);
}