.item-PXvHYJ, .themed-OHr7kt {
    color: black;
    background-color: rgb(139, 66, 66);
}
.sidebarRegionScroller-3MXcoP {
    background-color: rgb(105, 61, 61);
}
.contentColumn-2hrIYH {
    background-color: rgb(105, 61, 61);
}
.contentRegionScroller-26nc1e {
    background-color: rgb(105, 61, 61);
}
.scroller-1Bvpku {
    background-color: rgb(105, 61, 61);
}
.scroller-RmtA4e {
    background-color: rgb(68, 48, 48);
}
.container-3baos1 {
    background-color: rgb(105, 61, 61);
}
.scrollerInner-2YIMLh {
    background-color: rgb(105, 61, 61);
}
.scroller-1JbKMe {
    background-color: rgb(68, 48, 48);
}
.peopleList-3c4jOR {
    border-radius: 10px;
    border: 4px solid rgb(105, 61, 61);
    background-color: rgb(68, 48, 48);
}
.container-1r6BKw.themed-ANHk51 {
    background-color: rgb(105, 61, 61);
}
.searchBar-6Kv8R2 {
    background-color: rgb(105, 61, 61);
}
.form-2fGMdU {
    background-color: rgb(105, 61, 61);
}
